*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  margin: auto;
  background: #fff;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

p {
  color: #999;
  margin: -30px 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="street"],
input[type="email"],
input[type="number"],
input[type="city"],
input[type="zip"],
input[type="state"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

button {
  padding: 10px 39px 10px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 95%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin: -30px 0 0 10px;
}

fieldset {
  border: none;
}


hr.style1 {

  border-top: 14px double #000;
  width: 90%;
  margin-bottom: 40px;
}

hr.style2 {
  width: 90%;
  margin-top: -20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  margin-top: -10px;
}

label {
  display: block;
  margin-bottom: 8px;
  margin-top: 10px;
}

label.light {
  font-weight: 300;
  display: inline;
}

ul {
  list-style-type: none;
   padding-left: 0;
}

/* =================================
  Base Layout Styles
==================================== */

.banner,
.main-footer {
	text-align: center;
}

.main-footer {
padding-top: 50px;
padding-bottom: 50px;
}

.banner {
	color: #fff;
	background: #000;
	padding: 1em 0;
	margin-bottom: 24px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 5px #000;
}


input::placeholder {
   text-align: right;
}

  .container {
    display: flex;
}

.form-row {
    justify-content: center;

  }

@media screen and (min-width: 768px) {

  form {
    max-width: 768px;
  }

  .container {
    margin: auto;
}

  .form-row {
      display: flex;

    }
    .form-row > label {
      flex: 1;
    }

    .form-row > input {
      flex: 2;
    }

    .form-row > select {
      flex: 2;
    }

    hr.style1 {

      border-top: 14px double #000;
      margin-bottom: 40px;
    }

}
